*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #294B29;
    padding: 10px 15px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    align-items: center;
}
.logo{
    font-size: 25px;
    color: #DBE7C9;
}
.navbar a{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left: 15px;
    color: #05386b;
    border: 2px solid #DBE7C9;
    background-color: #DBE7C9;
    padding: 0px 14px;
    border-radius: 6px 4%;
    font-weight: 800;
}
.icons i{
background-color: #DBE7C9;
padding: 5px 15px;
color: #05386b;
border-radius: 6px;
margin-left: 10px;
font-size: 20px;
}
.icons .fa-bars{
    display: none;
}
.navbar a:hover{
    background-color: #898121;
    color: #E7B10A;
    border-radius: 50% 50%;
}
.icons i:hover{
    color: #E7B10A;
    background-color:  #898121;
    border-radius: 30px 15px;
}
.content{
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    justify-content: space-around;
}
.home{
    width: 45%;
}
.home h1{
    padding-bottom: 20px;
    font-size: 40px;
    color: #294B29;
}
.home span{
    font-size: 60px;
    font-family: 'Rubik Burned', system-ui;
    color: #05386b;
}
.home p{
    line-height: 30px;
}
button{
    margin-top: 40px;
    padding: 5px 10px;
    background-color: #DBE7C9;
    color: #294B29;
    border-radius: 7px;
}
.image{
    width: 45%;
}
.image img{
    width: 100%;
}
button:hover{
    background-color: #898121;
    color: #E7B10A;
    border-radius: 10px 6%;
}
.second{
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.home2{
    width: 45%;
    text-align: center;
}
.home2 h1{
    padding-bottom: 20px;
    font-size: 40px;
    font-family: 'Rubik Burned', system-ui;
    color: #05386b;
}
.home2 p{
    line-height: 30px;
    font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
color: #294B29;
}
.image2{
    width: 45%;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: grey;
    padding: 20px 0px;
    margin-top: 100px;
}
.mid{
    width: 40%;
}
.left a{
    display: block;
    background-color:#294B29 ;
    margin-top: 10px;
    padding: 4px 8px;
    text-align: center;
    color: white;
    border: 2px solid #294B29;
    border-radius: 6px 6%;
}
.left h1{
    color: #05386b;
}
.left a:hover{
    background-color: transparent;
    color: white;
    border-radius: 10% 20px;
}
.mid h1{
    color: #05386b;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mid p{
    padding-top: 7px;
    text-align: center;
    line-height: 30px;
    color: white;
}
.right h1{
    color: #05386b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.right i{
    margin-top: 10px;
    color: white;
    padding: 8px 13px;
    text-align: center;
    border: 2px solid #294B29;
    background-color: #294B29;
    border-radius: 6px;
}
.right i:hover{
    border-radius: 15% 15px;
    background-color: transparent;
}







@media(max-width:650px){
    .navbar{
        position: absolute;
        top: -99%;
    }
    .icons .fa-bars{
        display: inline-block;
    }
    .content{
        /* display: flex;
        justify-content: center; */
        flex-direction: column-reverse;
        /* align-items: center;
        text-align: center;
        width: 100%; */
    }
    .home{
        width: 100%;
        justify-content: center;
    }
    .image{
        width: 100%;
        justify-content: center;
    }
    .second{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
    .home2{
        width: 100%;
    }
    .image2{
        width: 100%;
    }
    .home2 h1{
        padding-top: 20px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .left h1{
        text-align: center;
    }
    .mid{
        text-align: center;
        justify-content: center;
        width: 100%;
    }
}
